@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
    background: whitesmoke;
    font-family: "Open Sans", sans-serif;
}

.container {
max-width: 960px;
margin: 30px auto;
padding: 20px;
}

h1 {
font-size: 32px;
text-align: center;
margin: 20px 0 20px;
}

h1 small {
display: block;
font-size: 20px;
padding-top: 16px;
color: gray;
margin: 10px auto;
}
  

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 3.2em;
    text-align: center;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 2.5em;
    text-align: center;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

.avatar-upload {
  position: relative;
  max-width: 305px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "ï€";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 1.6rem;
}

.avatar-upload .avatar-preview {
  width: 288px;
  height: 288px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}